<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Settings</title>
</head>
<body >

    <section >
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3> Change Password</h3>
							<form th:action="@{/user/changePassword}" method="POST">
								<!-- Old Password -->
								<div class="form-group">
									Enter old password	<input type="text" name="oldPassword" class="form-control" placeholder="Enter old password">
								</div>
								<!-- New Password -->
								<div class="form-group">
									Enter new password	<input type="text" name="newPassword" class="form-control" placeholder="Enter new password">
								</div>
								
								<button  class="btn btn-success">Change</button>
								<button class="btn btn-warning">Cancel</button>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		

    </section >
		<script >
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#setting-link").addClass("active");
		});
		</script>


</body>
</html>