<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<section >

<div class="container">
    <h1 class="text-monospace mt-5">About Us</h1>
    <p class="lead">Pet boarding or pet hostel is one of the fast growing business in the pet industry.
		It allows you to drop your pet off in the hand of professional for a limited time of period
		by paying the fee. In the facility of pet hostel pets are fed, walked and cared by the staff,
		who make sure that the pets are remain healthy and happy always.
		Pet hostel also offer additional services such as pet day care meant for those owners
		 who need care for their pets while they are at work or otherwise engaged. You can 
		also set up a salon and swimming pool in the boarding</p>
    
  </div>

</section >



</body>
</html>